body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  header {
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #f4f4f4;
    text-align: center;
  }
  
  #tos-body {
    padding: 20px;
  }